// RESET
@import url(../../lib/normalize.css);

// 变量
@import url(variables.less);

// 组件
@import url(index.less);
@import url(components/SearchBox.less);

// 全局
* {
	box-sizing: inherit;
	transition: all 0.2s ease-in-out;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 10px;
	min-width: 60em;
	min-height: 60em;
	box-sizing: border-box;
}

input {
	outline: none;
}

.hidden  {
	display: none !important;
}
