// RESET
@import url(../../lib/normalize.css);
// 变量
@import url(components/variables.less);

// 全局
@import url(components/globals.less);

// 组件
@import url(components/index.less);

// 通用
.hidden {
	display: none !important;
}
.notSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
