@import url(variables.less);
@import url(SearchBox.less);
@import url(MusicList.less);
@import url(MoePlayer.less);
@import url(animation.less);
@import url(MsgBox.less);

.loading-mask {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	color: @white;
	background-color: @black;

	.loading-img {
		max-width: 5rem;
		max-height: 5rem;
		animation: rotate 2s linear infinite;
	}
}

.mp-container {
	height: 100%;
	width: 100%;
	background-color: @bg;

	.mp-panel {
		height: 59.6rem;

		.panel-header {
			height: 10%;
			display: flex;
			display: -webkit-flex;
			justify-content: space-around;
			align-items: center;
			padding: 1rem;
			background-color: @black;
			border-bottom: 0.2rem solid @red;

			.logo {
				color: @white;
				cursor: pointer;

				.app-name {
					display: inline-block;
					&:hover {
						text-shadow: 0 0 8px @white;
					}
					font-size: 3.5rem;
				}
				.app-ver {
					display: inline-block;
					font-size: 1.5rem;
				}
			}
		}
		.panel-body {
			height: 90%;
		}
	}
	.moePlayer-c {
		border-top: 0.1rem solid @table-border;
		height: 4.5rem;
	}
}
