@odd-row-color: #16181c;
@even-row-color: #1a1c20;
@title-color: #ffffff;
@hover-color: #2c2e32;

.musicList {
	table {
		tr {
			&:hover {
				background-color: @hover-color !important;
			}
			text-align: left;

			td {
				border: none;
			}
			.list-index {
				width: 6%;
			}
			.list-title {
				width: 37%;
			}
			.list-artist {
				width: 37%;
			}
			.list-operation {
				width: 20%;
			}
			.title-col {
				color: @title-color;
			}
			.operation-col {
				cursor: pointer;
			}
		}
		.tips-row {
			background-color: @odd-row-color !important;
			text-align: center;
		}
		tr:nth-child(even) {
			background-color: @even-row-color;
		}
	}
}
